/* 기본 스타일 */
#container {
  justify-content: center; /* 가로 중앙 정렬 */
  flex-direction: column; /* 요소들을 세로로 정렬 */
  min-height: auto;
  min-width: auto;
  padding: 20px;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#head-container {
  width: 80%; /* 혹은 원하는 너비 */
  margin: 0 auto; /* 상하 마진 0, 좌우 마진 자동 조절 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 태블릿 사이즈 스타일 */
@media (max-width: 1223px) and (min-width: 768px) {
  #container {
    margin: auto;
    max-width: 80%; /* 화면의 80%만 사용 */
  }
}

/* 모바일 사이즈 스타일 */
@media (max-width: 767px) {
  #container {
    margin: auto;
    max-width: 95%; /* 화면의 95%만 사용 */
  }
  #squares {
    font-size: 0.85em;
  }
}

@media (min-width: 375px) and (max-width: 766px) {
  #squares {
    font-size: 0.8em;
  }
}

@media(max-width:540px){
  #text{
    margin: auto 4;
  }
}