.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0c090a;
  padding: 10px 5%;
  color: #fff;
  margin: 0;
}

.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.titleName {
  display: inline-block;
  margin: 10px 20px;
  color: #ffca1a;
  font-size: 25px;
  font-weight: 700;
}

ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

a:link,
a:visited {
  color: inherit; /* 링크 색상을 부모 엘리먼트의 color 값으로 상속 */
  text-decoration: none; /* 밑줄 제거 */
}