.boxSize{
    width: 20%;
    margin:auto;
}

.btn {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.5em;
    border-radius: 1em;
    border: none;
    border-radius: 50px;
    color: #fff;
    background: #ffca1a;
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    background: rgb(85, 83, 83);
}
