/* 기본 스타일 */
#container {
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    flex-direction: column; /* 요소들을 세로로 정렬 */
    height: 100vh; /* 뷰포트 높이의 100% */
    min-height: auto;
    min-width: auto;
    padding: 20px;
  }
  
  /* 태블릿 사이즈 스타일 */
  @media (max-width: 1223px) and (min-width: 768px) {
    #container {
      margin: 0;
      max-width: 100%; /* 화면의 80%만 사용 */
    }
  }
  
  /* 모바일 사이즈 스타일 */
  @media (max-width: 767px) {
    #container {
      margin: 0;
      padding: 10px;
      max-width: 100%; /* 화면의 95%만 사용 */
    }
  }
  