#swiper {
  margin-top: 5;
  margin-bottom: 5;
}

@media (max-width: 1223px) and (min-width: 768px) {
  #swiper {
    padding-left: 20;
    padding-right: 20;
  }
}

@media (max-width: 768px) and (min-width: 470px) {
  #swiper {
    padding-left: 10;
    padding-right: 10;
  }
}

@media (max-width: 470px) {
  #swiper {
    padding-left: 0;
    padding-right: 0;
  }
}
